.input-field-wrapper {
  position: relative;
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 0.3rem 1rem;
  border-radius: 8px;
  transition: all 0.3s;
  background-color: #ffffff;
}

.ant-form-item .ant-form-item-label {
  padding: 0px;
}

.ant-float-btn-group {
  bottom: 80px;
}

.ant-switch .ant-switch-handle {
  background: transparent !important;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-progress {
  height: 4px;
  bottom: 4px;
}

.ant-input-affix-wrapper .ant-input {
  background: transparent !important;
  border: none !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
}

.strategy-form {
  .ant-collapse {
    border: none !important;
    background: transparent !important;
    border-radius: 0px !important;

    .ant-collapse-item {
      border: none !important;
      background: transparent !important;
      margin-bottom: 2px;

      &.ant-collapse-item-active {
        .ant-collapse-body {
          background: #368bf426 !important;
        }

        .ant-collapse-header {
          background: linear-gradient(135deg, #3b82f6, #06b6d4) !important;
        }

        .ant-segmented {
          color: rgb(0 0 0 / 65%);
          background: rgb(0 108 255 / 15%);
          font-weight: 800;
          border-radius: 11px;

          .ant-segmented-item {
            border-radius: 8px;

            &.ant-segmented-item-selected {

              .ant-segmented-item-label svg {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-wrap: nowrap;
                flex-direction: row;
                margin: auto;
                margin-left: -11px;
                margin-top: 2px;
                color: #3b82f6;
                fill: #3b82f6;
              }

            }
          }

        }
      }
    }

  }


  h4.ant-typography{
    font-size: 16px;
}

}

.no-border-no-bg input {
  border: none !important;
  background-color: none !important;
}

.ant-switch .ant-switch-handle {
  background: transparent !important;
  border: 0;
  margin-top: -1px;
}