@use 'custom';

[data-theme="dark"] {

  .tab-content.fixed-height {
    background-color: transparent !important;
  }

  .input-field-wrapper {
    position: relative;
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 0.3rem 1rem;
    border-radius: 8px;
    transition: all 0.3s;
    background-color: #1e1e1e;
  }

}