.input-field-wrapper {
  position: relative;
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 0.3rem 1rem;
  border-radius: 8px;
  transition: all 0.3s;
  background-color: #ffffff;
}

.ant-form-item .ant-form-item-label {
  padding: 0px;
}

.ant-float-btn-group {
  bottom: 80px;
}

.ant-switch .ant-switch-handle {
  background: transparent !important;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-progress {
  height: 4px;
  bottom: 4px;
}

.ant-input-affix-wrapper .ant-input {
  background: transparent !important;
  border: none !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
}

.strategy-form {

  .ant-input:focus {
    border-color: transparent !important;
    box-shadow: none !important;
    background: transparent !important;
  }

  .ant-collapse {
    border: none !important;
    background: transparent !important;
    border-radius: 0px !important;


    .ant-card .ant-card-body {
      padding: 12px;
      background: transparent;
    }

    .ant-collapse-item {
      border: none !important;
      background: transparent !important;
      margin-bottom: 2px;

      &.ant-collapse-item-active {
        .ant-collapse-body {
          background: #368bf426 !important;
        }

        .ant-collapse-header {
          background: linear-gradient(135deg, #3b82f6, #06b6d4) !important;
        }

        .ant-segmented {
          color: rgb(0 0 0 / 65%);
          background: rgb(0 108 255 / 15%);
          font-weight: 800;
          border-radius: 11px;

          .ant-segmented-item {
            border-radius: 8px;

            &.ant-segmented-item-selected {

              .ant-segmented-item-label svg {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-wrap: nowrap;
                flex-direction: row;
                margin: auto;
                margin-left: -11px;
                margin-top: 2px;
                color: #3b82f6;
                fill: #3b82f6;
              }

            }
          }

        }
      }
    }

  }


  h4.ant-typography {
    font-size: 16px;
  }

}

.no-border-no-bg input {
  border: none !important;
  background-color: none !important;
}

.ant-switch .ant-switch-handle {
  background: transparent !important;
  border: 0;
  margin-top: -1px;
}

.ant-btn.ant-btn-primary {
  background: linear-gradient(135deg, #05d5ff, #5214fc) !important;
  box-shadow: 0 6px 20px rgba(59, 130, 246, 0.4);
}

.ant-btn.ant-btn-primary:hover {
  background: linear-gradient(135deg, #5214fc, #05d5ff) !important;
  box-shadow: 0 6px 20px rgba(59, 130, 246, 0.4);
}

.ant-input-affix-wrapper input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #000000e8 !important;
  background-color: transparent !important;
  background-image: none !important;
  transition: background-color 5000s ease-in-out 0s !important;
  font-weight: 600;
}

.linked-accounts-settings-drawer,
.action-buttons{

  width: 100%;

  button {
    height: 52px !important;
    border-radius: 14px !important;
    font-weight: 600 !important;
    font-size: 16px !important;

    &.ant-btn.ant-btn-color-primary.ant-btn-variant-solid {
      background: linear-gradient(135deg, #5214fc, #05d5ff) !important;
      box-shadow: 0 6px 20px rgba(59, 130, 246, 0.4);
    }

    &.ant-btn.ant-btn-color-primary.ant-btn-variant-solid:hover {
      background: linear-gradient(135deg, #05d5ff, #5214fc) !important;
      box-shadow: 0 6px 20px rgba(59, 130, 246, 0.4);
    }

    &.ant-btn-primary:not([disabled]):not(.ant-btn-dangerous)::before {
      background: linear-gradient(135deg, #5214fc, #05d5ff) !important;
      box-shadow: 0 6px 20px rgba(59, 130, 246, 0.4);
  }

    &.ant-switch.ant-switch-small{
      height: unset !important;
      //border-radius: inherit !important;
    }

  }
}

.auth-premium-modal{

  .ant-modal-container{
    background: transparent !important;
    box-shadow: none !important;
  }

}

.ant-float-btn.ant-float-btn-individual {
    bottom: calc(var(--ant-margin-xxl) + 32px);
}

.app-header:has(.with-fixed-header) {
    background: #ffffff7a;
    backdrop-filter: blur(10px);
}